#btnQurious {
    position: fixed;
    top: 5px;
    right: 20px;
    z-index: 1000;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    animation-name: stretch; 
    animation-duration: 5s; 
    animation-timing-function: linear; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}

#btnQurious:hover {
    transform: scale(1.1);
    background-color: orangered;
    border-color: gray;
    animation-name: none;
    cursor: pointer;
}

#btnQurious[listening] {
    animation-name: fast-stretch; 
    animation-duration: 0.6s; 
    animation-timing-function: linear; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running;
}

@keyframes stretch { 
    0% { 
        background-color: red;
        border-color: black;
        transform: scale(1);
    } 
    90% { 
        background-color: orangered;
        border-color: black;
        transform: scale(1);
    } 
    100% { 
        background-color: orange;
        border-color: gray;
        transform: scale(1.5);
    } 
}

@keyframes fast-stretch { 
    0% { 
        background-color: teal;
        border-color: black;
        transform: scale(1);
    } 
    100% { 
        background-color: turquoise;
        border-color: gray;
        transform: scale(1.2);
    } 
}